/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			display-name = "Default";

			bindings = <
				&kp Q &kp W &kp E &kp R
				&kp T &kp Y &kp I &kp O
				&kp A &kp S &kp D &kp F
				&kp H &kp J &kp K &kp L
			>;
		};
	};
};
